<p>recette-form works!</p>
{{recette?.name}}
<!-- 
    Créer un formulaire qui permettra de modifier les propriétés
    suivantes :
    - name (required, pattern qui accepte les lettres, espace et jusqu'à 50 caractères)
    - duration (required, pattern qui accepte des chiffres excepté 0)
    - description (required, patern qui accepte n'importe quel caractères, 
        au moins 5 et des sauts à la ligne.)
    - type (ne faites qu'un seul type radio required pour l'instant)
    - ingredients (required, pattern qui accepte la même chose que description)
    - steps (required et même pattern que description)
    Chacun des inputs sera suivi d'une div affichant un message d'erreur correspondant
    au pattern.
    Le formulaire devra s'afficher uniquement si on a une recette.
 -->